

body{
    background:linear-gradient( rgba(0, 0, 0, 0.479),white);
    margin: 0;
    padding: 0;
   
}
#sectionacceuil{
    background: url('image2.jpg') no-repeat;
    height: 800px;
    overflow: hidden;
    z-index: -2;
}

#welcome{
    padding-top: 400px;
}

h1{
    margin-top: 0;
    text-align: center;
    font-size: 70px;
    color: rgba(233, 248, 186, 0.767);
    font-family: 'leto', sans-serif;
    animation: slideInFromRight 2s ease-in;
}

h5{
    
    text-align: center;
    color: rgba(233, 248, 186, 0.767);
    font-family: 'leto', sans-serif;
    font-size: 30px;
    font-style: oblique;
    animation: slideInFromLeft 1s ease-in;
}   

p{
    text-align: center;
    color: rgba(233, 248, 186, 0.767);
    font-family: 'leto', sans-serif;
    font-size: 30px;
    font-style: oblique;
}


    img{ 
     overflow: visible;
     width: 400px;
     height: 400px;
     border-radius: 2px;
    } 
    img:hover{
        border: 1px solid #000;
        transform: scale(1.1);
        transition: 1s;
    }


 a{
     text-align: center;
 }
    

h3{
    text-align: center;
    font-family: 'leto', sans-serif;
    font-size: normal;
    color: #000;
}

.name{
    margin-top: 200px;
    color: rgb(27, 25, 25);
   
}

.presentation{
    color: rgb(27, 25, 25);
    padding-bottom: 4rem;
}

.presentSection{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.bton{
    margin-left:42% ;
    height: 3rem;
    width: 15rem;
    
}

#flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 70%;
    overflow: hidden;
    margin: auto;
}


div img{
    margin: auto;
}
  
#flex .photos{
   padding: 5px 0;
}

.btn input{
   text-align: center;
   background: rgb(40, 61, 40);
   color: #fff;
   border: none;
   height: 3rem;
   width: 15rem;
   border-radius: 3px;
   font-size: 20px;
   cursor: pointer;
}

.btn input:hover{
    background: #000;
    transition: 0.5s;
}



.btn form{
   display: flex;
   margin-left: 43%;
   margin-top: 20px;
   margin-bottom: 20px;
   
}

footer{
   
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-gap : 2rem;
    align-items: center;
    opacity: 0.9;
}

 li {
    color: #fff;
    list-style-type: none;
    padding-left: 39%;
    margin-bottom: 5px;
}


a{  
    color: grey;
    text-decoration: none;

}

a:hover{
    color: #000;
}

footer .footerparaph {
    text-align: left;
    padding-top: 10px;
    margin-left: 2rem;
    font-style: normal;
    font-size: 10px; 
    color: grey;
    padding-left: 39%;

}

.socialP{
    color: grey;
    font-style: normal;
    font-size: 20px;
    padding-left: -20px;
    font-family: 'leto', sans-serif;
}

footer .social{
    
    padding-right: 2rem;
    
    
}

footer .social i{
    color: rgba(233, 248, 186, 0.767);
    margin-left: 20px;

}
footer .social i:hover{
    color: #fff;
    font-weight: bolder;
    transition: o.9s;
} 

/* media quiries */

@media(max-width : 874px ){
    #flex{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #sectionacceuil{
        height: 400px;
        overflow: hidden;
    }

    h1{
    margin-top: 0;
    text-align: center;
    font-size: 40px;
    color: rgba(233, 248, 186, 0.767);
    font-family: 'leto', sans-serif;
    margin-top: -200px;
    }
  h5{
      margin-top: -120px;
      font-weight:lighter;
  }
  footer{
      display: grid;
      grid-template-columns: 2fr 1fr;
      padding-top: 30px;
  }
  footer .social i{
      padding-right: 1rem;
      margin-left: 10px;
  }

    .btn form{
    display: block;
    margin-right: 12rem;
    margin-top: 20px;
    margin-bottom: 20px;
    
    }

}

@media(max-width : 507px){

     #sectionacceuil{
            background: linear-gradient(rgb(156, 156, 156),white);
            height: 100px;
            overflow: hidden;
        }

    #welcome{
        height: 100px;
        padding-top: 2em;
        text-align: center;
    }

    #flex{
        grid-template-columns: 1fr;
    }
    /* #sectionacceuil{
        
    } */

    .bton{
        margin-left:25%;
        
    }

    .presentation{
        font-size: medium;
        padding-top: 3em;
        
    }

    .profilBody{
        background:linear-gradient(rgba(0, 0, 0, 0.479),white);
    }

    body{
        background: linear-gradient(white,rgba(0, 0, 0, 0.479));
    }

    .btn form {
        display:flex;
        margin-left: 25%; 
        margin-top: 20px;
        margin-bottom: 21px;
    }

    h1{
        color: rgb(20, 20, 20);
        text-align: center;
        font-size: 25px;
        padding-top: 0em;
        }

     h5{
        font-size: 25px;
        }  
        
    #slogant{
        margin-bottom: 0;
        overflow: hidden;
    }

    footer{
        grid-template-columns: 1fr 1fr;
    }
    
    footer .footerparaph {
        padding-left: 0;
        color: rgb(49, 49, 49);
    }

    .socialP{
        
        font-size: 15px;
        padding-left: -20px;
        color: rgb(49, 49, 49);
       
    }
    li{
      padding-left: 0%;
      font-size: 15px;
        
    }

    a{  
        color: rgb(49, 49, 49);
        text-decoration: none;
    
    }
}


/* animation */

@keyframes slideInFromLeft{
    0%{
        transform: translateX(-100%);
    }

    100%{
        translate: translateX(0);
    }
}


@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }

    100%{
        translate: translateX(0);
    }
}


